<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Banking app Testcases">
	<parameter name="username" value="abc@xyz.com"/>
	<parameter name="password" value="abcd"/>
  <test thread-count="5" name="RegressionTest">
 <!--  <groups>
  	<run>
  		<include name="Sanity"/>
  	</run>
  </groups>
  -->  
   <classes>
    <class name="test.LoginTest"/>
       <class name="testNGExamples.Testcase2"/>
      <class name="testNGExamples.Testcase1">
    <!--   <methods>
      	 <exclude name="LoanTest"/> 
      	 <exclude name="Loan.*"/> 
      	 <exclude name="LoanTest1"/> 
      	<include name="CreditCardTest"/> 
      </methods>
     -->  </class>
   </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
